@font-face {
  font-family: "FuturaStd-Book";
  src: url("/src/assets/otf/FuturaStd-Book.otf");
}

@font-face {
  font-family: "FuturaStd-Medium";
  src: url("/src/assets/otf/FuturaStd-Medium.otf");
}

@font-face {
  font-family: "FuturaStd-ExtraBold";
  src: url("/src/assets/otf/FuturaStd-ExtraBold.otf");
}

@font-face {
  font-family: "CPGCooper";
  src: url("/src/assets/otf/CooperBlackItalicSwashCustom.otf");
}

:root {
  --sunflower: #f4b842;
  --orchid: #a063ba;
  --aqua: #79c6e2;
  --charcoal: #72747c;

  --trans-duration: 100ms;
  --font: "FuturaStd-Book", "Futura Std", "Futura", "Helvetica", "Arial", "Segoe UI", sans-serif;
}

@media (orientation: portrait) {
  header.main-layout { justify-content: center; }

  h1#title { display: none; }
}

body {
  font-family: var(--font);
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cooper {
  font-family: "CPGCooper", sans-serif;
}

header.main-layout {
  display: flex;
  background-color: black;
  padding: 1rem 1.5rem;
  gap: 1.5rem;

  & > img { width: 1in; }
  & > h1 { color: white; }
}

#map-container {
  flex: 1;
  overflow-x: scroll;
  overflow-y: visible;

  & #click-map {
    position: relative;
    width: min-content;
    height: min-content;
  }

  & button.interactive {
    --radius: 20px;

    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #0000;
    /* border: 2px solid gray; */
    border: none;
    border-radius: 100%;
    width: var(--radius);
    height: var(--radius);
  }
}

#map {
  height: 100%;
}

article.info-box {
  --left: 2rem;
  --bottom: 2.5rem;

  font-family: var(--font);
  background-color: var(--sunflower);
  text-align: left;
  padding: 1rem;
  position: absolute;
  left: var(--left);
  bottom: var(--bottom);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: var(--trans-duration);
  z-index: 100;

  &:hover, .interactive:is(:hover, :focus) > & {
    opacity: 1;
    visibility: visible;
  }

  .vendor-handle { opacity: 0.5; }

  .vendor-name, .vendor-handle { white-space: nowrap; }

  .vendor-description {
    max-height: 12rem;
    overflow-y: scroll;
  }
}

/* popup comic book type triangle, may need to have it for all 4 corners? */
.triangle {
  position: absolute;
  bottom: calc(var(--bottom) - 4rem);
  left: calc(var(--left) - 3rem);
  width: 2rem;
  height: 2rem;
  clip-path: polygon(50% 0%, 100% 0%, 0% 100%);
  background: var(--sunflower);
  transform: rotate(0deg);
}
